.DS_Store
._*
.*.swp
*~
*.bak
*.elc
_darcs/
# Configuration for Linux
/config/htop/
/config/pulse/*-default-source
/config/pulse/*-default-sink
/config/pulse/*.tdb
/config/pulse/cookie
/config/gtk-2.0/gtkfilechooser.ini
