[alias]
    branch-name = !git for-each-ref --format='%(refname:short)' `git symbolic-ref HEAD`
    root = rev-parse --show-cdup
[user]
	name = Thomas Sutton
	email = me@thomas-sutton.id.au
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = current
[core]
	quotepath = false
	excludesfile = ~/.gitignore
