.DS_Store
._*
.*.swp
*~
*.bak
*.elc
_darcs/
# Do not commit
dnc-*
# Sensitive or machine-specific
/config/configstore/*-usage.json
/config/configstore/update-notifier-*
/config/gcloud
/config/gtk-2.0/gtkfilechooser.ini
/config/htop/
/config/pulse/*-default-sink
/config/pulse/*-default-source
/config/pulse/*.tdb
/config/pulse/cookie
/config/SoundTouch*
/config/yarn/global/node_modules/
/emacs.d/elpa/
/emacs.d/network-security.data
/emacs.d/session.*
/emacs.d/site-lisp/twelf
/vim/.netrwhist
/vim/bundle/
