[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/ghcmod-vim"]
	path = vim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim
[submodule "vim/bundle/idris-vim"]
	path = vim/bundle/idris-vim
	url = https://github.com/idris-hackers/idris-vim
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/bundle/vim-pandoc"]
	path = vim/bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
[submodule "vim/bundle/vim-pandoc-syntax"]
	path = vim/bundle/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax
[submodule "vim/bundle/vimproc.vim"]
	path = vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/bundle/haskell-cabal"]
	path = vim/bundle/haskell-cabal
	url = https://github.com/Twinside/vim-syntax-haskell-cabal.git
